@use 'variables' as *;
.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px;
    background: $background-dark;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  #cameraFeed {
    width: 320px;
    height: 240px;
    border: 2px solid white;
    border-radius: 5px;
    background: black;
  }
  
  #cameraContainer {
    width: 300px;
    background: #222;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  