@use 'variables' as *;
.camera-container {
    width: 20%;
    min-width: 250px;
    background: #222;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
  }
  
  #cameraFeed {
    width: 320px;
    height: 240px;
    border: 2px solid white;
    border-radius: 5px;
    background: black;
  }
  
 

  video {
    width: 100%;
    height: auto;
    max-height: 240px;
    border: 2px solid white;
    border-radius: 5px;
    background: black;
  }
    
  