@use 'variables' as *;
#mazeSettings {
    width: 20%;
    background: #222;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    position: relative;
  
    &.closed {
      transform: translateX(100%);
      position: absolute;
      right: 0;
      top: 0;
      height:100%;
      
    }
  }
  
  #toggleSettings {
    position: absolute;
    cursor: pointer;
    //writing-mode: vertical-rl;
    left: -40px;
    top: 20px;
    background: #444;
    color: white;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    cursor: pointer;
    border-right: 5px 0 0 5 px;
  }
  
  #settingsContent {
    margin-top: 20px;
    display: none;
  }
  
  #mazeSettings:not(.closed) #settingsContent {
    display: block;
  }
  